.teamForm {
    margin: 20px;
    padding: 25px;
    background: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamForm label {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 40px;
    font-family: "Teko", sans-serif;
}

.teamForm input {
    padding: 5px;
    border: none;
    background: white;
    box-shadow: 0px 0px 5px rgba(255, 255, 0, 0.8);
}

.teamForm button {
    padding: 10px;
    min-width: 30%;
    background: linear-gradient(70deg, rgb(255, 242, 142), rgb(129, 216, 136));
    font-size: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.matchOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    gap: 5px;
}

.allianceBoard {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.matchOverview button {
    border: 1px solid black;
    padding: 3px 15px;
    padding-bottom: 0px;
    border-radius: 5px;
    font-size: 45px;
    font-family: "Teko", sans-serif;
}


.matches {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.matches * {
    font-family: 'Teko', sans-serif;
}

.matchTeam {
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.matchTeam h1, .matchTeam h2 {
    text-align: center;
}

.matchTeam h1 {
    font-size: 45px;
}

.scoreBreakdownContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

.espmBreakdown {
    display: flex;
    flex-direction: row;
}

.espmBreakdown div {
    text-align: center;
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    font-size: larger;
}

.espmBreakdown div:first-child {
    border-bottom-left-radius: 10px;
}

.espmBreakdown div:last-child {
    border-bottom-right-radius: 10px;
}

.espmBox {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    font-weight: 800;
}

.espmBox::before {
    content: "ESPM";
    display: block;
    position: relative;
    top: 0;
    width: 80px;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10px));
    border: 1px solid black;
    background: white;
    padding: auto;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: -20px;
    font-size: 20px;
    font-weight: 800;
}

.chartContainer {
    width: 30vw;
    height: 300px;
    margin: auto;
}