.matches {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}
.matchTeam {
    flex-grow: 1;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.matchTeam h1, .matchTeam h2 {
    text-align: center;
}

.scoreBreakdownContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

.espmBreakdown {
    display: flex;
    flex-direction: row;
}

.espmBreakdown div {
    text-align: center;
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    background-color: #A9BDFF;
}

.espmBreakdown div:first-child {
    border-bottom-left-radius: 10px;
}

.espmBreakdown div:last-child {
    border-bottom-right-radius: 10px;
}

.espmBox {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    background-color: #D3DFFF;
}

.chartContainer {
    width: 30vw;
    height: 1000px;
    margin: auto;
}