.MainDiv {
    background: black;
    color: white;
}

.MatchInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .AutoNotes, .TeleNotes, .TrapNotes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .TeleSpeakerSuccesses {
    display: flex;
    flex-direction: row;
  }

  .MainDiv input[type=text], .MainDiv textarea {
    font-family: 'Teko', sans-serif;
    background-color: #cdf3ff;
    border-radius: 5px;
    caret-color: black;
    border: 2px solid black;
  }

  .MainDiv button[type=submit] {
    background-color: #FFD900;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #ffa200;
    font-size: 30px;
  }

  .MainDiv label {
    font-size: 25px;
  }

  .Qual {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .MainDiv input[type=checkbox] {
    justify-content: center;
  }

