.box {
    display: flex;
    background-color: #f0ecec;
    color: black;
    padding: 1rem;
    border: 2px solid #888484;
    border-radius: 5px;
    width: 120px;
    margin: 0 auto;
    cursor: pointer;
}
.box:hover,
.box:focus {
    background-color: #e0dcdc;
}
.box:active {
    border: 2px solid #088404;
    background-color: #b0fcbc;
}
