@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.MainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Belleza", sans-serif;
    justify-content: center;
    text-align: center;
}
.lightBorderBox {
    flex-grow: 1;
    border-radius: 10px;
}

.lightBorderBox h1, .lightBorderBox h2 {
    text-align: center;
}

.lightBorderBox h1 {
    font-size: 45px;
}
.scoreBreakdownContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

.espmBreakdown {
    display: flex;
    flex-direction: row;
}

.espmBreakdown div {
    text-align: center;
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    font-size: larger;
}

.espmBreakdown div:first-child {
    border-bottom-left-radius: 10px;
}

.espmBreakdown div:last-child {
    border-bottom-right-radius: 10px;
}

.espmBox {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    font-weight: 800;
}

.espmBox::before {
    content: "ESPM";
    display: block;
    position: relative;
    top: 0;
    width: 80px;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10px));
    border: 1px solid black;
    background: white;
    padding: auto;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: -20px;
    font-size: 20px;
    font-weight: 800;
}
.graphTitle {
    display: block;
    position: relative;
    top: 0;
    width: auto;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    padding: 2px;
    margin: auto;
    font-weight: 800;
    margin-top: 20px;
    background-color: #eef5ff;
}
.graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
    margin-bottom: 10px;
}
.lineChart {
    transform: translateX(-25px);
}
.CBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 75px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
.leftColumn .CBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
.CBoxValue {
    border-top: 1px solid black;
}
.HBox {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
.HBoxValue {
    border-left: 1px solid black;
}
.comments {
    display: block;
    position: relative;
    top: 0;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 10px auto;
    margin-top: -10px;
}
.commentsBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    align-self: center;
    border-radius: 5px;
}
.BigBox {
    border: 1px solid black;
    border-radius: 5px;
}
.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 300px;
    font-family: "Belleza", sans-serif;
}
.valueBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.auto {
    border-bottom: 4px solid lightgray;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 4px solid lightgray;
    border-left: 4px solid lightgray;
}
.tele {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 4px solid lightgray;
    border-left: 4px solid lightgray;
    padding-top: 20px;
}
.leftColumn {
    padding-right: 20px;
    width: 30%;
}
.middleColumn {
    display: flex;
    flex-direction: column;
    width: 34%;
}
.rightColumn {
    padding-left: 20px;
    width: 30%;
}
.allComments {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    text-align: center;
    align-content: center;
    transform: translateY(-10px);
}
.MainDiv table {
    font-size: 14px;
    width: 210px;
}
.MainDiv .intakeBox {
    width: 140px;
}
.intakeBox .CBox{
    width: 45px;
}
.intakeBox .CBoxValue{
    display: flex;
    height: 18px;
    justify-content: center;
}
.MainDiv .trapTable {
    width: 110px;
}
.CFlex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rightColumn .chartContainer h4 {
    margin-bottom: -30px;
    transform: translateY(-10px);
}
.rightColumn .valueBoxes {
    margin-top: -20px;
}
.middleColumn table, .middleColumn th, .middleColumn td {
    border: 1px solid black;
    border-collapse: collapse;
}